* {
    margin: 0;
    padding: 0;
}

.events {
    visibility: hidden;
    transition: 0.3s;
}

table tr:hover .events {
    visibility: visible;
}

.form-control {
    position: relative;
    padding: 8px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.none {
    position: relative;
    display: none;
    width: 50%;
    margin: 10px auto;
    background: #000;
    color: #fff;
    font-family: calibri !important;
    padding: 10px;
    border-radius: 4px;
}

.none form {
    position: relative;
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    color: #333;
    background: #fff;
    border-radius: 4px;
    align-items: center;
    align-content: center;
}

.none form .group {
    position: relative;
}

.none form .group label,
.none form input {
    position: relative;
    display: block;
}

.none form input {
    position: relative;
    display: block;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #333;
    border-radius: 4px;
}