* {
    margin: 0;
    padding: 0;
}

.events {
    visibility: hidden;
    transition: 0.3s;
}

table tr:hover .events {
    visibility: visible;
}

.none {
    position: relative;
    display: none;
}